{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-user") ) %}


<p>{{ translate("txt-detailed-overview-of-user") }}</p>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-user-name") }}</dt>
    <dd>{{ user.userName }}</dd>
    <dt>{{ translate("txt-email") }}</dt>
    <dd>{{ user.email|default(translate("txt-not-provided")) }}</dd>
    <dt>{{ translate("txt-user-principal-name") }}</dt>
    <dd>{{ user.userPrincipalName|default(translate("txt-user-principal-name-unknown")) }}</dd>
    <dt>{{ translate("txt-first-name") }}</dt>
    <dd>{{ user.firstName }}</dd>
    <dt>{{ translate("txt-last-name") }}</dt>
    <dd>{{ user.lastName }}</dd>
    <dt>{{ translate("txt-roles") }}</dt>
    {% for role in user.getRoles() %}
        <dd>{{ roleLink(role,'view','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-dedicated-solodb-role") }}</dd>
    {% endfor %}

</dl>