{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-mailing-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}
<div class="row">

    <div class="col-md-10">

        <h1>{{ translate("txt-mailing-list") }} {{ mailingLink(null,'new','button') }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-mailing-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(form.get('query')) }}
                    {{ formelement(form.get('search')) }}
                    {{ formelement(form.get('reset')) }}
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/list', 'criteria': 'name', 'text': translate("txt-name")} %}</th>
                    <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/list', 'criteria': 'owner', 'text': translate("txt-owner")} %}</th>
                    <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/list', 'criteria': 'tag', 'text': translate("txt-tag")} %}</th>
                    <th>{{ translate("txt-recipients") }}</th>
                    <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/list', 'criteria': 'date-created', 'text': translate("txt-date-created")} %}</th>
                </tr>
                </thead>
                <tbody>
                {% set previousTag = false %}
                {% for mailing in paginator.getCurrentItems() %}
                    <tr {% if mailing.dateDeleted %}class="table-danger"{% endif %}>
                        <td>{% if mailing.dateDeleted %}
                                <i class="fa fa-trash"
                                   title="{{ translate("txt-selection-has-been-deleted-on-%s")|format(mailingUser.mailing.dateDeleted|date("d-m-Y")) }}"></i>
                            {% endif %}
                            {{ mailingLink(mailing,'view', 'mailing') }}
                            {{ mailingLink(mailing,'edit','icon') }}
                        </td>
                        <td>{{ userLink(mailing.user,'view-admin','name') }}</td>
                        <td>{{ mailing.tag }}</td>
                        <td>{{ mailingService.findAmountOfMailingUsersInMailing(mailing) }}</td>
                        <td>{% if mailing.dateCreated %}{{ mailing.dateCreated|string_date }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'application/partial/pagination-control' with {'paginator': paginator} %}
        {% else %}
            {{ lbs5alert().info(translate("txt-no-mailings-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        {{ lbs5formelement(filter.get('includeDeleted'), 'default') }}
        {{ lbs5formelement(filter.get('tags'), 'default') }}
        {{ lbs5formelement(filter.get('users'), 'default') }}

        {{ lbs5formelement(form.get('search')) }}
        {{ lbs5formelement(form.get('reset')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
