{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(mailing.mailing) %}
<h1>{{ mailing }} {{ mailingLink( mailing,'send','button') }}</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="{{ url('zfcadmin/mailing/view',{'id':mailing.id},{'fragment':'general'}) }}"
           role="tab">{{ translate("txt-general") }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('zfcadmin/mailing/view',{'id':mailing.id},{'fragment':'message'}) }}"
           role="tab">{{ translate("txt-message-body-editor") }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('zfcadmin/mailing/view',{'id':mailing.id},{'fragment':'message-html'}) }}"
           role="tab">{{ translate("txt-message-body-editor-html") }}</a>
    </li>
    <li class="nav-item active"><a href="#" class="nav-link active" role="tab">{{ translate("txt-recipients") }}</a>
    </li>
</ul>

<h2 class="pt-3">{{ translate("txt-recipients") }}</h2>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% if paginator.getTotalItemCount() > 0 %}
    <div class="row">
        <div class="col-md-6">
            <p>{{ translate("txt-recipient-list-explanation") }}</p>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                {{ formelement(form.get('query')) }}
                {{ formelement(form.get('reset')) }}
                {{ formelement(form.get('search')) }}
            </div>
        </div>
    </div>

    <table class="table table-striped table-sm table-hover">
        <thead>
        <tr>
            <th>{{ translate("txt-name") }}</th>
            <th>{{ translate("txt-email") }}</th>
            <th>{{ translate("txt-sent") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for mailingUser in paginator.getCurrentItems() %}

            {% set emailMessage = mailingUser.emailMessage.last %}

            <tr>
                <td>{{ mailingUserLink(mailingUser,'view','name') }}
                    {{ userLink(mailingUser.user,'view-admin','icon') }} <i
                            class="fa fa-paper-plane sendSingle"
                            data-mailing-user="{{ mailingUser.id }}"></i>
                </td>
                <td>{{ mailingUser.user.email }} <a href="mailto:{{ mailingUser.user.email }}"><i
                                class="fa fa-envelope-o"></i></a></td>
                <td id="date-send-{{ mailingUser.id }}">
                    {% if  emailMessage.latestEvent %}
                        {{ emailMessageEventIcon(emailMessage) }}
                    {% endif %}
                    {{ mailingUser.dateSent|string_date }}
                    {% for queue in mailingUser.queue|filter(queue => not queue.dateSend) %}
                        <small>{{ translate("txt-queued-since-%s")|format(queue.dateCreated|string_date) }}</small>
                    {% else %}

                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% include 'application/partial/pagination-control' %}
    {{ form().closeTag()|raw }}
{% else %}
    {{ lbs5alert().info(translate("txt-mailing-has-no-users"))|raw }}
{% endif %}

<style type="text/css">
    i.sendSingle {
        cursor: pointer;
    }

    i.sendSingle:hover {
        color: #00a651;
    }
</style>

<script type="text/javascript">
    $(document).on('click', '.sendSingle', function (e) {
        var $this = $(this);

        $this.addClass('fa-spin');

        $.ajax({
            url: '{{ serverUrl() }}{{ url('json/mailing/send-single') }}',
            type: 'post',
            dataType: 'json',
            data: {
                'mailingUserId': $this.data('mailing-user')
            },
            success: function (response) {
                $this.removeClass('fa-spin');
                $('#date-send-' + response.data.id).html(response.data.dateSend)

            },
            error: function (xhr) {
                console.log(xhr);
                alert('Error! Did you enable adblock????? Status = ' + xhr.status);
            }
        });
    });
</script>
