{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-oauth2-service")) %}

<h1>{{ service.name }} {{ oauth2ServiceLink(service,'edit','button') }}</h1>

{% if hasTest %}
    {% if success %}
        {{ lbs5alert().success(translate("txt-access-token-has-been-received-successfully-the-token-is-%s")|format(accessToken))|raw }}
    {% else %}
        {{ lbs5alert().danger(translate("txt-an-error-occurred-while-requesting-the-token-error-%s")|format(error))|raw }}
    {% endif %}
{% endif %}


<p class="lead">{{ translate("txt-oauth2-service-explanation") }}</p>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-service-client-id") }}</dt>
    <dd>{{ service.clientId }}</dd>

    <dt>{{ translate("txt-service-client-secret") }}</dt>
    <dd class="font-monospace">{{ service.clientSecret[0:3] }}***</dd>

    <dt>{{ translate("txt-service-redirect-url") }}</dt>
    <dd>{{ service.redirectUrl }}</dd>

    <dt>{{ translate("txt-service-authorization-url") }}</dt>
    <dd>{{ service.authorizationUrl }}</dd>

    <dt>{{ translate("txt-service-access-token-url") }}</dt>
    <dd>{{ service.accessTokenUrl }}</dd>

    <dt>{{ translate("txt-service-profile-url") }}</dt>
    <dd>{{ service.profileUrl }}</dd>

    <dt>{{ translate("txt-service-allowed-clusters") }}</dt>
    {% for cluster in service.allowedClusters %}
        <dd>{{ cluster.name }}</dd>
    {% endfor %}

    <dt>{{ translate("txt-oauth2-service-scope") }}</dt>
    <dd>{{ oauth2ScopeLink(service.scope,'view') }}</dd>

    <dt>{{ translate("txt-oauth2-service-client") }}</dt>
    <dd>{{ oauth2ClientLink(service.client,'view') }}</dd>
</dl>

<form method="post">
    <button type="submit" class="btn btn-warning">{{ translate("txt-test-access") }}</button>
</form>

