{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-deeplink-target-%s")|format(target)) %}

<h1>{{ translate("txt-edit-deeplink-target-%s")|format(target) }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set targetForm = form.get('deeplink_entity_target') %}
{{ lbs5formelement(targetForm.get('id')) }}
{{ lbs5formelement(targetForm.get('target')) }}
{{ lbs5formelement(targetForm.get('route')) }}

<div class="row mb-3">
    <div class="offset-md-3 col-md-9">
        {{ formelement(form.get('csrf')) }}
        {{ lbs5formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
