{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-distribution-list-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<h1>{{ translate("txt-distribution-list-list") }} {{ distributionListLink(null,'new','button') }}</h1>

<div class="row">
    <div class="col-md-6">
        <p class="lead">{{ translate("txt-distribution-list-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(form.get('query')) }}
            {{ formelement(form.get('reset')) }}
            {{ formelement(form.get('search')) }}
        </div>
    </div>
</div>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th></th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/distribution-list/list', 'criteria': 'name', 'text': translate("txt-name")} %}</th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/distribution-list/list', 'criteria': 'transactional', 'text': translate("txt-transactional-email")} %}</th>
            <th>{{ translate("txt-recipients") }}</th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/distribution-list/list', 'criteria': 'date-created', 'text': translate("txt-date-created")} %}</th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/distribution-list/list', 'criteria': 'last-update', 'text': translate("txt-last-update")} %}</th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/mailing/distribution-list/list', 'criteria': 'date-last-sent', 'text': translate("txt-date-last-sent")} %}</th>
        </tr>
        </thead>
        <tbody>
        {% for distributionList in paginator.getCurrentItems() %}
            <tr>
                <td><small class="text-muted">{{ distributionList.id }}</small> </td>
                <td>
                    {{ distributionListLink(distributionList,'view', 'name') }}
                    {{ distributionListLink(distributionList,'edit','icon') }}

                </td>
                <td>{{ transactionalLink(distributionList.transactional,'view', 'name') }}</td>
                <td><a href="{{ url('zfcadmin/mailing/distribution-list/details/users',{'id':distributionList.id}) }}">{{ distributionListService.findAmountOfDistributionListUsersInDistributionList(distributionList) }}</a></td>
                <td>{{ distributionList.dateCreated|string_date }}</td>
                <td>{% if distributionList.lastUpdate %}{{ distributionList.lastUpdate|string_date }}{% endif %}</td>
                <td>{% if distributionList.lastDateSent %}{{ distributionList.lastDateSent|string_date }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' with {'paginator': paginator} %}
{% else %}
    {{ lbs5alert().info(translate("txt-no-mailings-found"))|raw }}
{% endif %}


{{ form().closeTag()|raw }}
