<div class="container">
    {% do headTitle().append('Error') %}

    <div class="container">
        <h1>An error occurred</h1>

        {{ ztbalert().danger(message)|raw }}

        {% if constant("ITEAOFFICE_ENVIRONMENT") == 'development' %}
            {% if exception %}
                <hr/>
                <h2>Additional information:</h2>
                <dl>
                    <dt>File:</dt>
                    <dd>
                        <pre class="prettyrpint linenums">{{ exception.getFile() }}: {{ exception.getLine() }}</pre>
                    </dd>
                    <dt>Message:</dt>
                    <dd>
                        <code class="prettyprint linenums">{{ exception.getMessage() }}</code>
                    </dd>
                    <dt>Stack trace:</dt>
                    <dl>
                        <pre class="prettyprint linenums">{{ exception.getTraceAsString() }}</pre>
                    </dl>
                </dl>
            {% endif %}
        {% endif %}
    </div>
</div>