{% do headTitle().append(translate("txt-lost-password")) %}

<h1>{{ translate("txt-lost-password") }}</h1>

<p>{{ translate("txt-lost-password-explanation") }}</p>


{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{{ lbs5formelement(form.get('email')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('csrf')) }}
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
