{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-project-list") ) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<h1>{{ translate("txt-project-list") }}</h1>

<div class="row">
    <div class="col-md-6">
        <p>{{ translate("txt-project-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(form.get('query')) }}
            {{ formelement(form.get('search')) }}
            {{ formelement(form.get('reset')) }}
        </div>
    </div>
</div>

{% if paginator.pageRange > 0 %}
    <table class="table table-striped table-sm table-hover">
        <thead>
        <tr>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/project/list', 'criteria': 'id', 'text': translate('txt-id')} %}</th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/project/list', 'criteria': 'name', 'text': translate('txt-name')} %}</th>
            <th>{% include 'application/partial/filter-table-header' with {'route': 'zfcadmin/project/list', 'criteria': 'identifier', 'text': translate('txt-identifier')} %}</th>
            <th>{{ translate("txt-cluster") }}</th>
            <th>{{ translate("txt-last-update") }}</th>
        </tr>
        </thead>

        <tbody>
        {% for project in paginator.getCurrentItems() %}
            <tr>
                <td><small class="text-muted">{{ project.id }}</small></td>
                <td>{{ projectLink(project, 'view', 'name') }}</td>
                <td>{{ project.identifier }}</td>
                <td>{{ project.primaryCluster.name }}</td>
                <td>{% if project.lastUpdate %}{{ project.lastUpdate|date('d-m-Y H:i') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ lbs5alert().info(translate("txt-no-projects-found"))|raw }}
{% endif %}


{{ form().closeTag()|raw }}