{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-oauth2-scope")) %}

<h1>{{ translate("txt-oauth2-scope") }}  {{ oauth2scopelink(scope,'edit','button') }}</h1>

<p>{{ translate("txt-oauth2-scope-information") }}</p>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-id") }}</dt>
    <dd>{{ scope.id }}</dd>
    <dt>{{ translate("txt-oauth2-scope-type") }}</dt>
    <dd>{{ scope.type }}</dd>
    <dt>{{ translate("txt-oauth2-scope-scope") }}</dt>
    <dd>{{ scope.scope }}</dd>
    <dt>{{ translate("txt-oauth2-is-default") }}</dt>
    <dd>{% if scope.isDefault() %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</dd>
</dl>

