{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-user-%s-in-distribution-list-%s")|format(distributionListUser.user.displayName,distributionListUser.distributionList)) %}

<h1>{{ translate("txt-user-%s-in-distribution-list-%s")|format(distributionListUser.user.displayName,distributionListUser.distributionList)|raw }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-distribution-list") }}</dt>
    <dd>{{ distributionListLink(distributionListUser.distributionList,'view','name') }}</dd>
    <dt>{{ translate("txt-transactional-email") }}</dt>
    <dd>{{ transactionalLink(distributionListUser.distributionList.transactional,'view') }}</dd>
    <dt>{{ translate("txt-user") }}</dt>
    <dd>{{ userLink(distributionListUser.user,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-email-address") }}</dt>
    <dd>{{ distributionListUser.user.email }}</dd>
    <dt>{{ translate("txt-date-sent") }}</dt>
    <dd id="date-send-{{ distributionListUser.id }}">{% if distributionListUser.dateSent %}{{ distributionListUser.dateSent|string_date }}{% else %}{{ translate("txt-unsend") }}{% endif %}</dd>
    <dt>{{ translate("txt-hash") }}</dt>
    <dd>{{ distributionListUser.hash }}</dd>
</dl>

{% if distributionListUser.emailMessage.count() > 0 %}
    <h2>{{ translate("txt-email-tracking") }}</h2>

    <table class="table table-striped table-sm table-hover">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-email-address") }}</th>
            <th>{{ translate("txt-date") }}</th>
            <th>{{ translate("txt-subject") }}</th>
            <th colspan="2">{{ translate("txt-latest-event") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for emailMessage in distributionListUser.emailMessage %}
            <tr>
                <td>{{ emailMessage.id }}</td>
                <td>{{ emailMessageLink(emailMessage,'view','emailAddress') }}</td>
                <td>{{ emailMessage.dateCreated|date('d-m-Y H:i:s') }}</td>
                <td>{{ emailMessageLink(emailMessage,'view','subject') }}</td>

                <td>{% if  emailMessage.latestEvent %}{{ emailMessageEventIcon(emailMessage) }}{% endif %}</td>
                <td>{% if  emailMessage.latestEvent %}{{ emailMessage.latestEvent }}
                        ({{ emailMessage.dateLatestEvent|date('d-m-Y H:i:s') }}){% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}