{% set flash = flashMessenger() %}
{% do flash.setMessageOpenFormat('<br><div%s role="alert"><button type="button" class="close" data-dismiss="alert" area-label="Close"><span>&times;<span></button>') %}
{% do flash.setMessageSeparatorString('<br>') %}
{% do flash.setMessageCloseString('</div>') %}

{{ flash.renderCurrent('error',   ['alert', 'alert-dismissable', 'alert-danger'], false)|raw }}
{{ flash.renderCurrent('info',    ['alert', 'alert-dismissable', 'alert-info'], false)|raw }}
{{ flash.renderCurrent('default', ['alert', 'alert-dismissable', 'alert-warning'], false)|raw }}
{{ flash.renderCurrent('success', ['alert', 'alert-dismissable', 'alert-success'], false)|raw }}
{% do flash.getPluginFlashMessenger().clearCurrentMessagesFromContainer() %}
{{ flash.render('error',   ['alert', 'alert-dismissable', 'alert-danger'], false)|raw }}
{{ flash.render('info',    ['alert', 'alert-dismissable', 'alert-info'], false)|raw }}
{{ flash.render('default', ['alert', 'alert-dismissable', 'alert-warning'], false)|raw }}
{{ flash.render('success', ['alert', 'alert-dismissable', 'alert-success'], false)|raw }}
