{{ doctype() }}
<html class="d-flex flex-column h-100">
<head>
    <base href="{{ serverUrl() }}{{ basePath() }}/">
    {{ headMeta() }}
    {{ headTitle() }}
    {{ headLink() }}
    {{ headStyle() }}
    {{ headScript() }}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-body-ternary mb-4" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url('home') }}"><img src="/assets/img/logo.png" alt="Eureka Logo"/>Eureka
                    Clusters Backend</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{ lbs5navigation('navigation').lbs5menu().setUlClass('navbar-nav me-auto').setMaxDepth(1)|raw }}

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <button style="padding-top: 11px;"
                                class="btn btn-link nav-link px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                                id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown"
                                data-bs-display="static">
                            <i class="fa fa-moon-o theme-icon-active"></i>
                            <span class="d-lg-none ms-2">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme"
                            style="--bs-dropdown-min-width: 8rem;">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="light">
                                    <i class="fa fa-sun-o theme-icon-active pe-2">
                                        <use href="#check2"></use>
                                    </i> {{ translate("txt-light-mode") }}
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active"
                                        data-bs-theme-value="dark">
                                    <i class="fa fa-moon-o theme-icon-active pe-2">
                                        <use href="#check2"></use>
                                    </i> {{ translate("txt-dark-mode") }}
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="auto">
                                    <i class="fa fa-magic theme-icon-active pe-2">
                                        <use href="#check2"></use>
                                    </i>
                                    {{ translate("txt-auto-mode") }}
                                </button>
                            </li>
                        </ul>
                    </li>
                    {% if not isAllowed('route/user/login') %}
                        <span class="navbar-text">
                        {{ identity().parseFullname() }}
                    </span>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('user/logout') }}">{{ translate("txt-logout") }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('user/login') }}">{{ translate("txt-admin-login") }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="flex-shrink-0">
    <div class="container">

        {{ lbs5navigation('navigation').breadcrumbs().setPartial('application/partial/breadcrumbs')|raw }}

        {% include 'application/partial/flashmessenger' %}

        {{ content|raw }}
    </div>
</main>

<footer class="bg-light-ternary footer mt-auto py-2">
    <div class="container">
        <span class="text-muted">
            {{ translate("txt-footer-%s-%s")|format(constant("\\Application\\Version\\Version::VERSION"), "now"|date("Y"))|raw }}
        </span>
    </div>
</footer>

<script>
    (() => {
        'use strict'

        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }

            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        const showActiveTheme = theme => {
            const activeThemeIcon = document.querySelector('.theme-icon-active use')
            const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
            const svgOfActiveBtn = btnToActive.querySelector('i use').getAttribute('href')

            document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                element.classList.remove('active')
            })

            btnToActive.classList.add('active')
            activeThemeIcon.setAttribute('href', svgOfActiveBtn)
        }

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            if (storedTheme !== 'light' || storedTheme !== 'dark') {
                setTheme(getPreferredTheme())
            }
        })

        window.addEventListener('DOMContentLoaded', () => {
            showActiveTheme(getPreferredTheme())

            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', () => {
                        const theme = toggle.getAttribute('data-bs-theme-value')
                        localStorage.setItem('theme', theme)
                        setTheme(theme)
                        showActiveTheme(theme)
                    })
                })
        })
    })()
</script>


{{ inlineScript()|raw }}

</body>
</html>
