{% include 'mailing/distribution-list/details/tabs' %}

<h2 class="py-3">{{ translate("txt-general") }}</h2>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-transactional-email") }}</dt>
    <dd>{{ transactionalLink(distributionList.transactional,'view', 'name') }}</dd>


    <dt>{{ translate("txt-date-created") }}</dt>
    <dd>{{ distributionList.dateCreated|string_date }}</dd>

    <dt>{{ translate("txt-hour") }}</dt>
    <dd>{{ distributionList.hour }}</dd>

    <dt>{{ translate("txt-days-of-week") }}</dt>
    {% for dayOfWeek in distributionList.dayOfWeek %}
        <dd>{{ translate(distributionList.getDaysOfWeekArray()[dayOfWeek]) }}</dd>
    {% endfor %}

    <dt>{{ translate("txt-triggers") }}</dt>
    {% for trigger in distributionList.trigger %}
        <dd>{{ translate(distributionList.getTriggerArray()[trigger]) }}</dd>
    {% endfor %}

    <dt>{{ translate("txt-selections") }}</dt>
    {% for selection in distributionList.selection %}
        <dd>{{ selectionLink(selection) }}</dd>
    {% endfor %}


    {% if distributionList.lastUpdate %}
        <dt>{{ translate("txt-last-update") }}</dt>
        <dd>{{ distributionList.lastUpdate|string_date }}</dd>
    {% endif %}
    <dt>{{ translate("txt-date-last-email-sent") }}</dt>
    <dd>{% if distributionList.lastDateSent %}{{ distributionList.lastDateSent|string_date }}{% else %}{{ translate("txt-no-email-send-yet") }}{% endif %}</dd>
</dl>

<form method="post">
    <button type="submit" class="btn btn-primary" name="block"><i class="fa fa-paper-plane-o"></i> {{ translate("txt-send-test-email") }}
</form>