{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(distributionList.name) %}
<h1>{{ distributionList.name }} {{ distributionListLink( distributionList,'edit','button') }}</h1>

{% set navigation =
    {
        'general' :
        {   'route': 'zfcadmin/mailing/distribution-list/details/general',
            'text' : translate("txt-general"),
            'show': true
        },
        'history' :
        {   'route': 'zfcadmin/mailing/distribution-list/details/history',
            'text' : translate("txt-history"),
            'show': true
        },
        'users' :
        {   'route': 'zfcadmin/mailing/distribution-list/details/users',
            'text' : translate("txt-users"),
            'show': true
        },
    } %}

<ul class="nav nav-tabs my-3" role="tablist">
    {% for key, params in navigation|filter(params => params.show) %}
        <li class="nav-item"><a href="{{ url(params.route,{'id':distributionList.id}) }}"
                                aria-controls="{{ key }}"
                                role="tab"
                                class="nav-link {% if key == tab %}active{% endif %}">{{ params.text|raw }}</a></li>
    {% endfor %}
</ul>