{% include 'mailing/distribution-list/details/tabs' %}

<h2 class="pt-3">{{ translate("txt-recipients") }}</h2>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="row">
    <div class="col-md-6">
        <p>{{ translate("txt-recipient-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(form.get('query')) }}
            {{ formelement(form.get('reset')) }}
            {{ formelement(form.get('search')) }}
        </div>
    </div>
</div>

{% if paginator.getTotalItemCount() > 0 %}

    <table class="table table-striped table-sm table-hover">
        <thead>
        <tr>
            <th><i class="fa fa-lock"></i></th>
            <th></th>
            <th>{{ translate("txt-blocked") }}</th>
            <th>{{ translate("txt-name") }}</th>
            <th>{{ translate("txt-email") }}</th>

            <th>{{ translate("txt-sent") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6">
                <button class="btn btn-sm btn btn-outline-secondary" id="checkAll"
                        onclick="return false;">{{ translate("txt-check-all") }}</button>
                <button class="btn btn-sm btn btn-outline-secondary" id="checkNone"
                        onclick="return false;">{{ translate("txt-check-none") }}</button>
                <button class="btn btn-sm btn btn-outline-secondary" id="checkInverse"
                        onclick="return false;">{{ translate("txt-check-inverse") }}
                </button>
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for distributionListUser in paginator.getCurrentItems() %}

            {% set emailMessage = distributionListUser.emailMessage.last %}

            <tr {% if not distributionListUser.isActive() %}class="table-danger"{% endif %}>
                <td>{% if distributionListUser.isActive() %}
                        <input type="checkbox" name="distributionListUser[]" value="{{ distributionListUser.id }}"
                        >{% endif %}</td>
                <td><small class="text-muted">{{ loop.index }}</small></td>
                <td>
                    {% if distributionListUser.isBlocked() %}<i class="fa fa-lock"></i>{% endif %}
                    {% if not distributionListUser.isActive() %}{{ translate("txt-ended-on-%s")|format(distributionListUser.dateEnd|date('d-m-Y')) }}{% endif %}
                </td>
                <td>
                    {% if distributionListUser.isBlocked() or not distributionListUser.isActive() %}<s>{% endif %}
                        {{ distributionListUserLink(distributionListUser,'view','name') }}
                        {{ userLink(distributionListUser.user,'view-admin','icon') }}
                        {% if distributionListUser.isBlocked() or not distributionListUser.isActive() %}</s>{% endif %}
                </td>
                <td>
                    {% if distributionListUser.isBlocked() or not distributionListUser.isActive() %}<s>{% endif %}
                        {{ distributionListUser.user.email }} <a href="mailto:{{ distributionListUser.user.email }}"><i
                                    class="fa fa-envelope-o"></i></a>
                        {% if distributionListUser.isBlocked() or not distributionListUser.isActive() %}</s>{% endif %}
                </td>

                <td>
                    {% if  emailMessage.latestEvent %}
                        {{ emailMessageEventIcon(emailMessage) }}
                    {% endif %}
                    {{ distributionListUser.dateSent|string_date }}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <button type="submit" class="btn btn-warning" name="block"><i class="fa fa-lock"></i> {{ translate("txt-block") }}
    </button>
    <button type="submit" class="btn btn-success" name="unblock"><i
                class="fa fa-unlock-alt"></i> {{ translate("txt-unblock") }}</button>
    {% include 'application/partial/pagination-control' %}
    {{ form().closeTag()|raw }}
{% else %}
    {{ lbs5alert().info(translate("txt-distrubtion-list-has-no-users"))|raw }}
{% endif %}


<script>
    $("#checkAll").click(function () {
        $('input[type="checkbox"]').prop('checked', true);
    });

    $("#checkNone").click(function () {
        $('input[type="checkbox"]').prop('checked', false);
    });

    $("#checkInverse").click(function () {
        $('input[type="checkbox"]').each(function () {
            $(this).prop('checked', !$(this).prop('checked'));
        });
    });
</script>
