<tr class="mailing-user" data-type="{{ type }}" data-id="{{ mailingUser['id'] }}"
    {% if type == 'blocked' or type == 'sentNotBlocked' %}style="display: none;"{% endif %}>
    <td><input type="checkbox" name="mailingUser[]" value="{{ mailingUser['id'] }}" data-type="{{ type }}"
               id="select-{{ mailingUser['id'] }}"
               {% if mailingUser['dateSent'] %}class="sent"{% endif %}
                {% if mailingUser['blocked'] is constant("Mailing\\Entity\\User::BLOCKED") %}disabled="disabled"{% endif %}
                {% if mailingUser['id'] in mailingUserValues %}checked="checked"{% endif %}
        >
    </td>
    <td>{% if mailingUser['blocked'] is constant("Mailing\\Entity\\User::BLOCKED") %}
        <i
                class="fa fa-lock toggleBlock"
                data-mailing-user="{{ mailingUser['id'] }}"></i>{% else %}<i
            class="fa fa-unlock toggleBlock"
            data-mailing-user="{{ mailingUser['id'] }}">{% endif %}</td>
    <td>
        <a href="{{ url('zfcadmin/mailing/user/view',{'id': mailingUser['id']}) }}">{{ mailingUser['user']['firstName'] }} {{ mailingUser['user']['lastName'] }}</a>
        ({{ mailingUser['user']['userOrganisation']['organisation']['organisation'] }})
    </td>
    <td>{{ mailingUser['user']['email'] }} <a
                href="mailto:{{ mailingUser['user']['email'] }}"><i
                    class="fa fa-envelope-o"></i></a></td>
    <td>{{ mailingUser['dateSent']|string_date }}
        {% for queue in mailingUser.queue|filter(queue => not queue.dateSend) %}
            <small>{{ translate("txt-queued-since-%s")|format(queue['dateCreated']|string_date) }}</small>
        {% endfor %}
    </td>
</tr>