{% do headScript().appendFile("//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js",'text/javascript') %}
{% do inlineScript().appendScript("hljs.initHighlightingOnLoad();",'text/javascript') %}
{% do headLink().appendStylesheet("//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css") %}

{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-template")) %}

<h1>{{ template }} {{ mailingTemplateLink( template,'edit','button') }}</h1>


<dl class="dl-horizontal">
    <dt>{{ translate("txt-name") }}</dt>
    <dd>{{ template.name }}</dd>
    <dt>{{ translate("txt-subject") }}</dt>
    <dd>{{ template.subject }}</dd>
</dl>

<h3>{{ translate("txt-body") }}</h3>

<pre><code class="html">{{ template.body }}</code></pre>