{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set template = form.get('mailing_entity_template') %}

{{ lbs5formelement(template.get('id')) }}
{{ lbs5formelement(template.get('name')) }}
{{ lbs5formelement(template.get('subject')) }}
{{ lbs5formelement(template.get('body')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('csrf')) }}
        {{ formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ formelement(form.get('delete')) }}
        {% endif %}
        {{ formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}


