{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(mailing.mailing) %}
<h1>{{ mailing }} {{ mailingLink( mailing,'send','button') }}</h1>

{% if mailing.dateDeleted %}
    {{ lbs5alert().danger(translate("txt-mailing-has-been-deleted-on-%s")|format(mailing.dateDeleted|date("d-m-Y")))|raw }}
{% endif %}

<div class="alert alert-mailing-template alert-danger" {% if not cannotRenderSubjectReason %}style="display: none"{% endif %}">
        {{ translate("txt-mailing-subject-is-not-ok-reason-%s")|format(cannotRenderSubjectReason) }}
</div>

<div class="alert alert-mailing-template alert-danger" {% if not cannotRenderBodyReason %}style="display: none"{% endif %}">
        {{ translate("txt-mailing-template-is-not-ok-reason-%s")|format(cannotRenderBodyReason) }}
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active" href="#general" data-bs-toggle="tab"
                                   role="tab">{{ translate("txt-general") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#message" data-bs-toggle="tab"
                            role="tab">{{ translate("txt-message-body-editor") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#message-html" data-bs-toggle="tab"
                            role="tab">{{ translate("txt-message-body-editor-html") }}</a></li>
    <li class="nav-item"><a class="nav-link"
                            href="{{ url('zfcadmin/mailing/recipients',{'id':mailing.id}) }}">{{ translate("txt-recipients") }}</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="general">
        <h2 class="py-3">{{ translate("txt-general") }}</h2>
         <form method="post" action="">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ mailing.mailing }}</dd>
            <dt>{{ translate("txt-subject") }}</dt>
            <dd>{{ mailing.mailSubject }}</dd>
            <dt>{{ translate("txt-sender") }}</dt>
            <dd>{{ senderLink(mailing.sender,'view','name') }}</dd>
            <dt>{{ translate("txt-group-tag") }}</dt>
            <dd>{{ mailing.tag|default(translate("txt-not-provided")) }}</dd>
            {% if mailing.dateCreated %}
                <dt>{{ translate("txt-date-created") }}</dt>
                <dd>{{ mailing.dateCreated|string_date }}</dd>
            {% endif %}
            {% if mailing.dateDeleted %}
                <dt>{{ translate("txt-date-deleted") }}</dt>
                <dd><i class="fa fa-trash"></i> {{ mailing.dateDeleted|string_date }}</dd>
            {% endif %}
            <dt>{{ translate("txt-owner") }}</dt>
            <dd>{{ userLink(mailing.user, 'view-admin', 'name') }}</dd>
            <dt>{{ translate("txt-selection") }}</dt>
            {% for selection in mailing.selection %}
                <dd>{{ selectionLink(selection,'view') }}</dd>
            {% else %}
                <dd>{{ translate("txt-no-selection-selected") }}</dd>
            {% endfor %}
            <dt>{{ translate("txt-template") }}</dt>
            <dd>{{ mailingTemplateLink(mailing.template,'view') }}</dd>

            <dt>{{ translate("txt-attachment") }}</dt>
            {% for attachment in mailing.attachment %}
                <dd><i class="fa fa-paperclip"
                       aria-hidden="true"></i> {{ attachment.getFilename() }} {{ attachmentLink( attachment,'download','icon') }}
                </dd>
            {% else %}
                <dd>{{ translate("txt-no-files-attached") }}</dd>
            {% endfor %}


            {% if mailing.deeplink %}
                <dt>{{ translate("txt-deeplink") }}</dt>
                <dd>{{ deeplinkTargetLink(mailing.deeplink.target,'view','text') }}
                    {% if mailing.deeplink.keyId %}({{ translate("txt-key-%s")|format(mailing.deeplink.keyId) }}){% endif %}
                </dd>
                <dt>{{ translate("txt-expire") }}</dt>
                {% if  mailing.deeplink.dateExpiration|date("Y-m-d") < "now"|date("Y-m-d") %}
                    <dd class="warning"><i
                        class="fa fa-exclamation-triangle"></i> {{ mailing.deeplink.dateExpiration|string_date }}
                {% else %}
                    <dd>{{ mailing.deeplink.dateExpiration|string_date }}</dd>
                {% endif %}
                <dt>{{ translate("txt-probe") }}</dt>

                {% if canAssemble(mailing.deeplink.target.route) %}
                    <dd>
                        <a href="{{ url(mailing.deeplink.target.route, {'id': mailing.deeplink.keyId}) }}">probe</a>
                    </dd>
                {% else %}
                    <dd class="warning"><i
                                class="fa fa-exclamation-triangle"></i> {{ translate("txt-cannot-assemble-route") }}
                    </dd>
                {% endif %}
            {% endif %}

            <dt>{{ translate("txt-amount-of-users") }}</dt>
            <dd>{{ mailingService.findAmountOfMailingUsersInMailing(mailing) }}</dd>
            <dt>{{ translate("txt-amount-of-user-in-queue") }}</dt>
                {% set contactsInQueue = mailingService.findAmountOfUnsentMailingUsersInQueue(mailing) %}
                <dd>{{ contactsInQueue }}
                    {% if mailing.isSending() %}

                        <i class="fa fa-circle text-success" title="{{ translate("txt-sending-in-progress") }}"></i>

                        <input type="submit" name="restart" class="btn btn-warning btn-sm"
                               value="{{ translate("txt-restart") }}">
                        <input type="submit" name="stop" class="btn btn-danger btn-sm"
                               value="{{ translate("txt-stop") }}">

                    {% else %}
                        <i class="fa fa-circle {% if contactsInQueue > 0 %}text-danger{% else %}text-muted{% endif %}"
                           title="{{ translate("txt-no-sending-in-progress") }}"></i>
                    {% endif %}
                </dd>
        </dl>
                </form>

        {{ mailingLink( mailing,'edit','button') }}
        {{ mailingLink( mailing,'copy','button') }}
        {{ attachmentLink( null,'attach','button', mailing) }}

    </div>

    <div class="tab-pane" id="message">
        <div class="row">

            <div class="col-md-8">
                <h2  class="py-3">{{ translate("txt-raw-message") }}</h2>

                <p>{{ translate("txt-raw-message-update-explanation") }}</p>

                <textarea id="raw-message">
                    {{ mailing.mailHtml|raw }}
                </textarea>

                <br>
                <button class="btn btn-primary" id="save-mail" data-loading-text="{{ translate("txt-saving") }}"><i
                            class="fa fa-floppy-o"></i> {{ translate("txt-save-mail-html") }}</button>
                <button class="btn btn-primary" id="send-preview" data-loading-text="{{ translate("txt-sending") }}"><i
                            class="fa fa-paper-plane-o"></i>
                    {{ translate("txt-send-preview-of-mailing-to-myself") }}</button>

            </div>
            <div class="col-md-4">
                {% include 'mailing/partial/mailing-codes' %}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="message-html">
        <div class="row">
            <div class="col-md-8">
                <h2 class="py-3">{{ translate("txt-raw-message-html") }}</h2>

                <p>{{ translate("txt-raw-message-html-update-explanation") }}</p>

                <textarea id="raw-message-html-editor" class="col-md-12"
                          rows="20">{{ mailing.mailHtml|raw }}</textarea>

                <button class="btn btn-primary" id="save-mail-html"
                        data-loading-text="{{ translate("txt-saving") }}"><i
                            class="fa fa-floppy-o"></i> {{ translate("txt-save-mail-html") }}</button>
                <button class="btn btn-primary" id="send-preview"
                        data-loading-text="{{ translate("txt-sending") }}"><i
                            class="fa fa-paper-plane-o"></i>
                    {{ translate("txt-send-preview-of-mailing-to-myself") }}</button>

            </div>
            <div class="col-md-4">
                {% include 'mailing/partial/mailing-codes' %}
            </div>
        </div>
    </div>
</div>


{% do headScript().appendFile("//cloud.tinymce.com/stable/tinymce.min.js?apiKey=ldq46yojrss1zuwb8q3962xgchritqxw8z0sxhivdmd0zbdk",'text/javascript') %}

<style class="test/css">
    textarea {
        font-family: "Courier New", Courier, monospace;
        border: 0;
        background-color: transparent;
    }
</style>

<script type="text/javascript">

    tinyMCE.init({
        selector: "#raw-message",
        plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
        forced_root_block: false,
        force_br_newlines: true,
        relative_urls: true,
        remove_script_host: false,
        document_base_url: "{{ serverUrl() }}",
        entity_encoding: "raw",
        height: 700
    });

    $(document).on('click', '#save-mail', function (e) {
        e.preventDefault();
         var btn = $(this);

        $.ajax({
            url: '{{ serverUrl() }}{{ url('json/mailing/update-mail-html',{'id':mailing.id}) }}',
            type: 'post',
            dataType: 'json',
            data: {
                'value': tinyMCE.activeEditor.getContent({format: 'raw'})
            },
            success: function (response) {
                $("#raw-message-html-editor").val(response.mailHtml);


                if (response.cannotRenderBodyReason)
                {
                    $('.alert-mailing-template').show().html(response.cannotRenderBodyReason);
                    btn.removeClass('btn-success').addClass('btn-danger');
                } else {
                    $('.alert-mailing-template').hide();
                    btn.removeClass('btn-danger').addClass('btn-primary');
                }
            },
        });
    });

    $(document).on('click', '#save-mail-html', function (e) {
        e.preventDefault();

        var btn = $(this);

        $.ajax({
            url: '{{ serverUrl() }}{{ url('json/mailing/update-mail-html',{'id':mailing.id}) }}',
            type: 'post',
            dataType: 'json',
            data: {
                'value': $("#raw-message-html-editor").val()
            },
            success: function (response) {
                tinyMCE.activeEditor.setContent(response.mailHtml);


                if (response.cannotRenderBodyReason)
                {
                    $('.alert-mailing-template').show().html(response.cannotRenderBodyReason);
                    btn.removeClass('btn-success').addClass('btn-danger');
                    $("#raw-message-html-editor").effect('highlight', {'color': '#ebccd1'}, 1000);
                } else {
                    $('.alert-mailing-template').hide();
                    btn.removeClass('btn-danger').addClass('btn-primary');
                    $("#raw-message-html-editor").effect('highlight',  {'color': '#d6e9c6'}, 1000);
                }
            },
        });
    });

    $(document).on('click', '#send-preview', function (e) {

        e.preventDefault();

        var btn = $(this);
        btn.button('loading');
        $.ajax({
            url: '{{ serverUrl() }}{{ url('json/mailing/send-preview') }}',
            type: 'post',
            dataType: 'json',
            data: {
                'mailingId': {{ mailing.id }},
            },
            success: function (response) {
                if (response.success) {

                } else {
                    alert(response.message);
                }

            },
            error: function () {
                alert("Sending Failed");
            }
        }).always(function () {
            btn.button('reset');
        });
    });
</script>
